<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'core/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
	{% block style %}
	<link rel="stylesheet" href="{% static 'core/css/core.css' %}">
	{% endblock style %}
	<title>Welocome!</title>
</head>

<body>

	<script src="{% static 'core/js/bootstrap.js' %}"></script>
	<script src="{% static 'core/js/all.min.js' %}"></script>
	<script src="{% static 'core/js/pooper.js' %}"></script>
	<script src="{% static 'core/js/jquery.js' %}"></script>
	<div id="Header">
		<div class="container-fluid">
			<div class="row">
				{% include 'core/sidebar.html' %}
				<div class="col-sm-10 bg-dark text-white">
					{% block content %}

					{% endblock content %}
				</div>
			</div>
		</div>
	</div>

</body>

</html>
