{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
  <h1 class="border-bottom text-warning head">
    SKILL
  </h1>
  <div class="row">
    <div class="col-sm-6 mt-5 px-5">
      <h3>HTML</h3>
      <div class="progress mb-5">
        <div class="progress-bar bg-danger progress-bar-striped  progress-bar-animated" style="width:100% ">100%</div>
      </div>
      <h3>CSS</h3>
      <div class="progress mb-5">
        <div class="progress-bar bg-success progress-bar-striped  progress-bar-animated" style="width:85%">85%</div>
      </div>
      <h3>Java Script</h3>
      <div class="progress mb-5">
        <div class="progress-bar progress-bar-striped  progress-bar-animated" style="width:50%">50%</div>
      </div>
      <h3>Django</h3>
      <div class="progress mb-5">
        <div class="progress-bar bg-warning progress-bar-striped  progress-bar-animated" style="width:65%">65%</div>
      </div>
    </div>
    <div class="col-sm-6 mt-5 px-5 nogap" >
      <h3>Python</h3>
      <div class="progress mb-5">
        <div class="progress-bar bg-success progress-bar-striped  progress-bar-animated" style="width:95%">95%</div>
      </div>
      <h3>C++</h3>
      <div class="progress mb-5">
        <div class="progress-bar bg-warning progress-bar-striped  progress-bar-animated" style="width:90%">90%</div>
      </div>  
      <h3>SQL</h3>
      <div class="progress mb-5">
        <div class="progress-bar bg-info progress-bar-striped  progress-bar-animated" style="width:50%">50%</div>
      </div>
      <h3>React JS</h3>
      <div class="progress mb-5">
        <div class="progress-bar bg-danger progress-bar-striped  progress-bar-animated" style="width:65%">65%</div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}